

p{
	padding-block-start: 1em;
    padding-block-end: 1em;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
     margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.row p{
	display: inline-block;
	width: 100%;
	text-align: center;
}

.division, .spick{
	background-color: #FDD;
}
.class, .dpick{
	background-color: #FDF;
}
.breed, .cpick{
	background-color: #DFF;
}
.variety, .bpick{
	background-color: #EEF;
}
.age, .vpick{
	background-color: #FEF;
}
.row.entry, .row.entry p{
	text-align: left;
	background-color: #FFF;
}

.division p, .class p, .breed p, .variety p, .age p, .spick p{
	display: inline-block;
	width: 100%;
}

.row .sel, select{
	text-align: left;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
	html{
		width: 100%;
		font-size: 36pt;
	}

	select{
		-webkit-appearance: none;
		font-size: 36pt;
	}

	/*input[type='radio']{
		transform: scale(2);
		height: 36pt;
		width: 30pt;
	}*/
	input[type="radio"] {
	    -ms-transform: scale(2);
	    -webkit-transform: scale(2);
	    height: 25pt;
	    margin-left: 7pt;
	    transform: scale(2); 
	}
}
