#login{
	display: none;
	position: fixed;
	z-index: 1;
	left: 20%;
	top: 0;
	width: 500px;
	height: 200px;
	overflow: auto;
	padding-top: 60px;
	background-color: #F66;
}

#signup{
	display: none;
	position: fixed;
	z-index: 1;
	left: 20%;
	top: 0;
	width: 500px;
	height: 300px;
	overflow: auto;
	padding-top: 60px;
	background-color: #6F6;
}

#login fieldset, #signup fieldset{
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#login a{
	text-decoration: none;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	color: #002;
}

#login a:hover{
	color:#6FF;
}

